#butn{
    margin-left: 30%;
    margin-right: 30%;
}
.ligue{
    background-color: rgb(148, 186, 129);
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
}

body {
    background-color: rgb(235, 249, 249);
}

.Box_details {
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

h1, h2 {
    text-align: center;
}